@charset "UTF-8";

/* メニューバー */
#column1 {
  border: 1px solid #bd1515;
  background-color: #ffc5c5;
}

#column2 {
  border: 1px solid #f27200;
  background-color: #ffd89b;
}

#column3 {
  border: 1px solid #889100;
  background-color: #f4ff42;
}

#column4 {
  border: 1px solid #58b300;
  background-color: #c5f09b;
}

/* メインコンテンツ */
.container-fluid {
  background-image: url("../img/013_53a2db488d2d5e9ac76d1b9239d9b603.gif");
}