@charset "UTF-8";

@font-face {
    font-family: 'myfont';
    src: url("../fonts/851MkPOP.ttf")
}

/* メニューバー */
#menu_ber {
  height: 50px;
}



/* メインコンテンツ */

/* 背景 */
#back_img {
  padding: 0px;
}

.jumbotron {
  padding-top: 0px;
	background: url("../img/038.jpg");
	background-size: cover;
	background-position: 50% 50%;
  height: 1000px;
  z-index: 0;
  filter: blur(0.5px);
}


/* フロントタイトル */
#title_box {
  position: absolute;
}

#title {
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
  font-family: "myfont";
  font-size: 80px;
}

#title2 {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-family: "myfont";
  font-size: 80px;
}
